# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/processed/

# Models
models/*.pkl

# Streamlit temp
*.log
*.tmp
